.main-container {
  margin-top: 70px;
}

.row-section {
  margin-bottom: 50px;
}

.item-title {
  text-align: center;
  margin-bottom: 30px;
}

.img-container {
  text-align: center;
}

.item-img {
  width: 55%;
  height: auto;
}

.item-img:hover {
  width: 65%;
  height: auto;
  overflow: hidden;
}

.item-amount {
  margin-top: 30px;
}

.shopping-title {
  padding: 40px;
  font-size: 100px;
  width: 100%;
  font-weight: 700;
  box-sizing: border-box;
  margin-right: 0px;
  display: block;

  font-weight: bold;
  text-align: center;
  background: #777;
  background: #777;
  color: white;
}
.list {
  text-align: center;
  padding: 20px;
  font-size: 40px;
}
